<!--the hashbang stuff goes here-->
	<nav class="text-center navbar navbar-expand-lg navbar-light bg-dark ">
	  <ul class="list-group list-group-horizontal">
	    <li class="list-group-item"><a class="menu-link" href="#!events"><span class="fa fa-heart"></span><span class="fa fa-handshake-o"></span></a></li>
	    <li class="list-group-item"><a class="menu-link" href="#!people"><span class="fa fa-users"></span></a></li>
			<li class="list-group-item"><a class="menu-link"  href="" ng-click="person()"><span class="fa fa-user"></span></a></li>
			<li class="list-group-item"><a class="menu-link" href="" ng-click="messagethreads()"><span class="fa fa-comments"></span></a></li>
			<li class="list-group-item"><a class="menu-link" href="" ng-click="logout()"><span class="fa fa-sign-out"></span></a></li>
	  </ul>
	</nav>
