<body ng-controller="HomeController">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-body">
						<div class="d-flex justify-content-center">
								<a class="btn btn-lg btn-dark" id="login-link" href="#!login">Login</a>
						</div>
						<br>
						<div class="d-flex justify-content-center">
								<a class="btn btn-lg btn-dark" id="reg-link" href="#!register">Register</a>
						</div>
				</div>
			</div>
		</div>
	</div>
  {{home.testMessage}}
</body>
