<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>A Divine H2O Event Manager</display-name>

	<servlet>
		<servlet-name>HomePage</servlet-name>
		<servlet-class>main.java.servlets.handlemain.HomePage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadPersonLoginPage</servlet-name>
		<servlet-class>main.java.servlets.handleloginreg.ReadPersonLoginPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreatePersonRegisterPage</servlet-name>
		<servlet-class>main.java.servlets.handleloginreg.CreatePersonRegisterPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreatePersonPage</servlet-name>
		<servlet-class>main.java.servlets.handleperson.CreatePersonPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MenuBarPage</servlet-name>
		<servlet-class>main.java.servlets.handlemain.MenuBarPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadAllEventPage</servlet-name>
		<servlet-class>main.java.servlets.handleevent.ReadAllEventPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadEventPage</servlet-name>
		<servlet-class>main.java.servlets.handleevent.ReadEventPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadPersonPage</servlet-name>
		<servlet-class>main.java.servlets.handleperson.ReadPersonPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadAllPersonPage</servlet-name>
		<servlet-class>main.java.servlets.handleperson.ReadAllPersonPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadPersonEventAllPage</servlet-name>
		<servlet-class>main.java.servlets.handleperson.ReadPersonEventAllPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadEventPersonAllPage</servlet-name>
		<servlet-class>main.java.servlets.handleevent.ReadEventPersonAllPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadPersonMessageThreadAllPage</servlet-name>
		<servlet-class>main.java.servlets.handlemessage.ReadPersonMessageThreadAllPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadMessageThreadPage</servlet-name>
		<servlet-class>main.java.servlets.handlemessage.ReadMessageThreadPage</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadPersonLoginPage</servlet-name>
		<url-pattern>/ReadPersonLoginPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreatePersonRegisterPage</servlet-name>
		<url-pattern>/CreatePersonRegisterPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreatePersonPage</servlet-name>
		<url-pattern>/CreatePersonPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuBarPage</servlet-name>
		<url-pattern>/MenuBarPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadAllEventPage</servlet-name>
		<url-pattern>/ReadAllEventPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadEventPage</servlet-name>
		<url-pattern>/ReadEventPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadPersonPage</servlet-name>
		<url-pattern>/ReadPersonPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadAllPersonPage</servlet-name>
		<url-pattern>/ReadAllPersonPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadPersonEventAllPage</servlet-name>
		<url-pattern>/ReadPersonEventAllPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadEventPersonAllPage</servlet-name>
		<url-pattern>/ReadEventPersonAllPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadPersonMessageThreadAllPage</servlet-name>
		<url-pattern>/ReadPersonMessageThreadAllPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadMessageThreadPage</servlet-name>
		<url-pattern>/ReadMessageThreadPage</url-pattern>
	</servlet-mapping>
</web-app>
